@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

@plugin "@tailwindcss/typography";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  /* Code blocks */
  [data-rehype-pretty-code-figure] code {
    @apply grid min-w-full break-words rounded-none border-0! bg-transparent p-0 text-sm text-content-primary;
    counter-reset: line;
    box-decoration-break: clone;
  }
  [data-rehype-pretty-code-figure] [data-line] {
    @apply px-4 py-1;
  }
  [data-rehype-pretty-code-figure] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: var(--content-tertiary);
  }
  [data-rehype-pretty-code-figure] [data-highlighted-line] {
    @apply bg-surface-secondary;
  }
  [data-rehype-pretty-code-figure] [data-highlighted-line] span {
    @apply relative;
  }
  [data-rehype-pretty-code-figure] [data-highlighted-chars] {
    @apply rounded-md bg-surface-secondary p-1;
  }
  [data-rehype-pretty-code-title] {
    @apply mt-4 px-4 py-2 text-label;
  }
  [data-rehype-pretty-code-title] + pre {
    @apply mt-0;
  }
}
